{% extends "main/base.html" %}
{% load django_vite %}
{% load convert_data %}

{% load i18n %}


{% block title %}Email Addresses{% endblock title %}

{% block head_scripts %}
    {% vite_asset 'js/authentication/password_reset_from_key.js' %}
{% endblock head_scripts %}

{% comment %} {% block extra_content %}
    
      data-emails='{{  user.emailaddress_set.all | qset_to_json }}',
      
{% endblock extra_content %} {% endcomment %}



{% block bottom_scripts %}

{% endblock bottom_scripts %}
