{% extends "main/base.html" %}
{% load django_vite %}
{% load convert_data %}

{% load i18n %}


{% block title %}Password Reset{% endblock title %}

{% block head_scripts %}
    {% vite_asset 'js/authentication/password_reset.js' %}
{% endblock head_scripts %}

{% block extra_content %}
    
      {% comment %} data-auth-snippet='
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            You are already logged in 
            {% endif %}', {% endcomment %}
      
{% endblock extra_content %}



{% block bottom_scripts %}

{% endblock bottom_scripts %}
